<p>
  render-svg works!
</p>

<p>rv: {{rv|json}}</p>

<svg [attr.height]="rv.viewHeight" [attr.width]="rv.viewWidth">

    <!-- the ground -->
    <line [attr.x1]="rv.groundStartX" [attr.y1]="rv.groundStartY" [attr.x2]="rv.groundEndX" [attr.y2]="rv.groundEndY" [attr.stroke]="rv.color" />
  
    <!-- rear  wheel -->
    <circle [attr.cx]="rv.rearWheelX" [attr.cy]="rv.rearWheelY" [attr.r]="rv.wheelRadius" [attr.stroke]="rv.color" stroke-width="3" fill="none" />
  
    <!-- front wheel -->
    <circle [attr.cx]="rv.frontWheelX" [attr.cy]="rv.frontWheelY" [attr.r]="rv.wheelRadius" [attr.stroke]="rv.color" stroke-width="3" fill="none" />
  
    <!-- chain stay -->
    <line [attr.x1]="rv.rearWheelX" [attr.y1]="rv.rearWheelY"
      [attr.x2]="rv.bottomBracketX" [attr.y2]="rv.bottomBracketY"
      [attr.stroke]="rv.color" stroke-width="2" />
  
    <!-- seat stay -->
    <line [attr.x1]="rv.rearWheelX" [attr.y1]="rv.rearWheelY"
       [attr.x2]="rv.seatTubeX" [attr.y2]="rv.seatTubeY"
        [attr.stroke]="rv.color" stroke-width="2" />
  
    <!-- seat tube -->
    <line [attr.x1]="rv.bottomBracketX" [attr.y1]="rv.bottomBracketY"
       [attr.x2]="rv.seatTubeX" [attr.y2]="rv.seatTubeY"
        [attr.stroke]="rv.color" stroke-width="2" />
  
    <!-- top tube -->
    <line [attr.x1]="rv.topHeadTubeX" [attr.y1]="rv.topHeadTubeY"
       [attr.x2]="rv.seatTubeX" [attr.y2]="rv.seatTubeY"
        [attr.stroke]="rv.color" stroke-width="2" />
  
    <!-- down tube -->
    <line [attr.x1]="rv.bottomHeadTubeX" [attr.y1]="rv.bottomHeadTubeY"
    [attr.x2]="rv.bottomBracketX" [attr.y2]="rv.bottomBracketY"
        [attr.stroke]="rv.color" stroke-width="2" />
  
    <!-- head tube -->
    <line [attr.x1]="rv.bottomHeadTubeX" [attr.y1]="rv.bottomHeadTubeY"
    [attr.x2]="rv.topHeadTubeX" [attr.y2]="rv.topHeadTubeY"
        [attr.stroke]="rv.color" stroke-width="2" />
  
    <!-- fork -->
    <line [attr.x1]="rv.bottomHeadTubeX" [attr.y1]="rv.bottomHeadTubeY"
    [attr.x2]="rv.frontWheelX" [attr.y2]="rv.frontWheelY"
        [attr.stroke]="rv.color" stroke-width="2" />
  </svg>